@model IEnumerable<Product.Model.ProductModel>

@{
    
}
<div class="container mt-5">
    <div class="row" id="test1">
        @if (Model != null) // check if product list is empty
        {
            foreach (var item in Model)
            { 
            var checkSoldProduct = item.ProductStatus != false && item.ProductStatus != null ? "soldProduct" : ""; // if product is sold the set this class into card main div

                <div class="col-4 mb-5  w-100 hover-shadow">
                    <div class="card @checkSoldProduct" style="width:18rem;">

                        <img src="@Url.Content(item.ImagePath)" class="card-img-top" alt="card image" />
                        <div class="card-body">
                            <h5>@item.Name</h5>
                            <span class="productId" style="display:none">@item.Id</span>
                            <div class="font-weight-normal" style="font-size:13px;">
                                <label class="text-muted mb-0">Pickup Location: </label> @item.AddressLine1 @item.City @item.State @item.Country
                            </div>

                            <div class="font-weight-normal" style="font-size:13px;">
                                <label class="text-muted mb-0 mt-1">Time Remaining: </label>
                                <span class="expiry-date" style="display:none;"> @item.BidDateTime</span>
                                <span class="remain-time"></span>
                            </div>
                            <hr />
                            <div class="align-content-center">
                                <span style="font-size:25px;font-weight:600" class="text-muted">$@item.BidPrice</span>
                                <button type="submit" class="btn btn-primary btn-sm float-right mt-2">Bid</button>
                            </div>
                            <span class="text-muted">Bid Price</span>
                            <div>
                                <span style="font-size:25px;font-weight:600" class="text-muted">$@item.BuyNowPrice</span>

                                <button type="button" value="Bid" class="btn btn-primary btn-sm float-right mt-2">Buy Now</button>

                            </div>

                            <span class="text-muted">Buy Now Price</span>
                            <div>
                                <span style="font-size:25px;font-weight:600" class="text-muted">Send Offer</span>
                                <div>
                                    <button type="button" class="btn btn-primary btn-sm float-right mt-n4 btnSendOffer" dataID="@item.Id">Offer</button>

                                    <div style="display:none" dataID="@item.Id" class="showOfferDiv"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            }

        }
            else
            {
                <div>Sorry ! No Product Avaliable !</div>
            }

    </div>

</div>

<style>
    .showOfferDiv {
        position: absolute;
        top: 10px;
        left: 270px;
        z-index: 1;
    }

    /* sold product class style*/
    .soldProduct { 
        border: 1px solid black;
        background-color: lightgrey;
        width: auto;
        height: auto;
        z-index:10;
    }

    .btn {
        border-radius: 0;
    }

    .bgColor {
        background-color: #e74c3c;
    }

    .txtColor {
        color: #e74c3c;
    }
</style>

<script type="text/javascript">

    function getRemainingTime() {
        var expiryDate = document.getElementsByClassName('expiry-date'); //retrive remaing date
        for (var i = 0; i < expiryDate.length; i++) { //loop of length = 2
            var itemExpireDate = expiryDate[i].textContent;
            //console.log('date', itemExpireDate);
            var bidEndDate = new Date(itemExpireDate); // format full date into
            var day = bidEndDate.getDate(); // get day month year hours min sec seprate for needfull format
            var month = bidEndDate.getMonth() + 1;
            var year = bidEndDate.getFullYear();
            var hours = bidEndDate.getHours();
            var min = bidEndDate.getMinutes();
            var sec = bidEndDate.getSeconds();
            var dateValue = year + "-" + month + "-" + day + " " + hours + ":" + min + ":" + sec; // final format
            var date = Math.abs((new Date().getTime() / 1000).toFixed(0)); // get current date in miliseconds
            var date2 = Math.abs((new Date(dateValue).getTime() / 1000).toFixed(0)); // get expiry date in miliseconds
            var diff = date2 - date; // get differece
            var days = Math.floor(diff / 86400); // get days months seconds hours min sec
            var hours = Math.floor(diff / 3600) % 24;
            var minutes = Math.floor(diff / 60) % 60;
            var seconds = diff % 60;
            var daysStr = days;
            if (days < 10) {
                daysStr = "0" + days;  // if date is single character add 0 for formatting similar all
            }
            var hoursStr = hours;
            if (hours < 10) {
                hoursStr = "0" + hours;
            }
            var minutesStr = minutes;
            if (minutes < 10) {
                minutesStr = "0" + minutes;
            }
            var secondsStr = seconds;
            if (seconds < 10) {
                secondsStr = "0" + seconds;
            }
            if (days < 0 && hours < 0 && minutes < 0 && seconds < 0) {
                daysStr = "00";
                hoursStr = "00";
                minutesStr = "00";
                secondsStr = "00";
                if (typeof interval != "undefined") {
                    clearInterval(interval);
                }
            }
            var dateOut = daysStr + " days " + hoursStr + " hours " + minutesStr + " mintues " + secondsStr + " seconds"; // show data in view
            //console.log('dateOut', dateOut); //ok report
            var finalDate = document.getElementsByClassName("remain-time")[i];
            finalDate.textContent = dateOut;
            //console.log('xx', finalDate);
        }
    }
    getRemainingTime();// call
    var interval = setInterval(getRemainingTime, 1000); // set interval for call auto function

    $(".btnSendOffer").click(function () { // set click event on Send Offer Button
        var cBtn = $(this);
        var currentProductId = $(this).attr('dataID') // selecting current product id
        $.ajax({
            type: 'GET', // method type
            url: '/Offer/SendOffer', // send data to the url
            data: {
                ID: currentProductId // current product id
            }
        })
            .done(function (response) { // recieve send offer code
                cBtn.siblings().toggle().html(response); // show hide offer box

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) { // if code fail
                alert("Fail");
            });
    });
</script>
